<html ng-app>
    <head>
        <title>DataBind</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
        <script src="../js/controller/simple_controller.js"></script>
    </head>
    <body >
        <div ng-controller="simpleController">
            <p>Nome <input type="text" ng-model="user.name"/></p>
            <p>Idade <input type="text" ng-model="user.age"/></p>
            <hr/>
            <h3>Ola {{user.name}} voce tem {{user.age}} anos de idade</h3>
        </div>

    </body>
</html>
