<html ng-app>
    <head>
        <title>DataBind</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
        <script src="../js/controller/simple_controller.js"></script>
    </head>
    <body >
        <div ng-controller="simpleController">
            <p>Nome <input type="text" ng-model="user.name"/></p>
            <p>Idade <input type="text" ng-model="user.age"/></p>
            <hr/>
            <h1>Hello {{user.name}} with {{user.age}} years</h1>
        </div>

        <div ng-controller="simpleMult">
            <p>1º Numero<input type="text" ng-model="values.number0ne"/></p>
            <p>2º Numero<input type="text" ng-model="values.numberTwo"/></p>
            <hr/>
            <h1>Resultado: {{result}}</h1>
        </div>
    </body>
</html>
